---

---

<div class="max-w-3xl mx-auto px-4 py-16">
    <h1 class="text-4xl font-bold mb-6">About Me</h1>
    <p class="mb-4">
        Hello! I'm Olivia Perry, a junior full-stack web developer with a love
        for creating beautiful and functional websites and a desire to expand my
        skillset. With experience in Astro, React, and Tailwind CSS, I enjoy
        building projects that are both user-friendly and visually appealing.
    </p>
</div>
